# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
ios/build/XCBuildData/7ae99f70cf887ca07e03234ab99b4bd6-desc.xcbuild
ios/build/XCBuildData/7ae99f70cf887ca07e03234ab99b4bd6-manifest.xcbuild
ios/build/XCBuildData/26fb220e661195501fd9b43eac1a8d3f-desc.xcbuild
ios/build/XCBuildData/26fb220e661195501fd9b43eac1a8d3f-manifest.xcbuild
ios/build/XCBuildData/693cab26ffaef77f725b3ad9e33d403b-desc.xcbuild
ios/build/XCBuildData/693cab26ffaef77f725b3ad9e33d403b-manifest.xcbuild
ios/build/XCBuildData/build.db
ios/build/XCBuildData/BuildDescriptionCacheIndex-f49ef537a4b83b69ed2c5513d58b9980
ios/build/XCBuildData/c0569de57ecca0132c1f4a4892791752-desc.xcbuild
ios/build/XCBuildData/c0569de57ecca0132c1f4a4892791752-manifest.xcbuild
