<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208411605060-0l27i4m63scujvdfnlb312nc76jg5efi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208411605060-0l27i4m63scujvdfnlb312nc76jg5efi</string>
	<key>API_KEY</key>
	<string>AIzaSyDHoBZ6SukyOdvQOsMyHcbNs9j4V2wZ2KA</string>
	<key>GCM_SENDER_ID</key>
	<string>208411605060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expMarket</string>
	<key>PROJECT_ID</key>
	<string>expmarket</string>
	<key>STORAGE_BUCKET</key>
	<string>expmarket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208411605060:ios:5bf5156703a3bb755f2411</string>
</dict>
</plist>